<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.karique.groupsports">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permisos regulares -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Permisos websocket mqtt -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MySpeedTestAdvanced"
            android:parentActivityName=".activities.AthleteDetailActivity" />
        <activity android:name=".activities.SpeedTestAdvancedDetailsActivity" />
        <activity android:name=".activities.AddSpeedTestAdvancedActivity" />
        <activity
            android:name=".activities.MainAthleteActivity"
            android:label="@string/athlete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterAthleteActivity"
            android:label="@string/register_athlete"
            android:parentActivityName=".activities.LoginActivity" />
        <activity android:name=".activities.SessionHistoryActivity" />
        <activity
            android:name=".activities.MainCoachActivity"
            android:label="@string/coach"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AthletesByCategoryActivity"
            android:label="Atletas por categoria"
            android:parentActivityName=".activities.MainCoachActivity" />
        <activity android:name=".activities.AddAthleteActivity" />
        <activity
            android:name=".activities.AddTrainingPlanActivity"
            android:label="@string/add_training_plan"
            android:parentActivityName=".activities.MainCoachActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.TrainingPlanDetailActivity"
            android:label="Training Plan"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.MainCoachActivity" />
        <activity
            android:name=".activities.MesocycleDetailActivity"
            android:label="Mesocycle"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.TrainingPlanDetailActivity" />
        <activity
            android:name=".activities.WeekDetailActivity"
            android:label="Week"
            android:parentActivityName=".activities.MesocycleDetailActivity" />
        <activity
            android:name=".activities.AthleteDetailActivity"
            android:label="@string/title_activity_athlete_detail"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.MainCoachActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.BinnacleActivity" />
        <activity android:name=".activities.CoachQuizQuestionsActivity" />
        <activity
            android:name=".activities.AddQuizActivity"
            android:label="@string/add_quiz"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.AthleteQuizQuestionsActivity" />
        <activity
            android:name=".activities.AthleteReplyQuizActivity"
            android:label="@string/reply_quiz" />
        <activity android:name=".activities.WeightTestBySessionActivity" />
        <activity android:name=".activities.ChooseSessionWorkActivity" />
        <activity
            android:name=".activities.CoachDetailActivity"
            android:label="@string/title_activity_coach_detail"
            android:parentActivityName=".activities.MainCoachActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CoachCVActivity" />
        <activity android:name=".activities.AthleteWearableActivity" /> <!-- Declaración para el servicio en background de mqtt -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>